html{
    font-size: 1em;
}


body{
    background-color: white;
    color: #262626;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    line-height: 1.5;
}


/*-- Golden ration font sizes --*/
h1, h2, h3, h4 {
  
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 6.854em;
    margin-top: 0;
}

h2 {font-size: 4.236em;}

h3 {
    font-family: 'Muli', sans-serif;
    font-size: 2.618em;
}


h4 {
    font-family: 'Muli', sans-serif;
    font-size: 1.618em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


small, .font_small {font-size: 0.618em;}

p{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 1em;
    padding-bottom: 8%;
    letter-spacing: 0.6px;
    line-height: 1.75em;

}



.container{
    box-sizing: border-box;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 0%;
}    


.headerContainer{
    padding-top: 2%;
}


#logoContainer{
    padding: 0;
    padding-top: 0;
}


#headerLogo{
    padding: 0;
    padding-bottom: 0.75em;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
}

.navContainer{
    padding: 0;
}


.navbar-header{
    padding-top: 6.5%;
}


.nav{
    background-color: white;
    padding: 0;
}



.nav li{
    font-family: 'Futura PT', sans-serif;
    text-align: center;
    font-size: 1.10em;
    width: 25%;
    text-align: center;
    float: left; 
    padding-top: 2%;
}

.nav li a{
    background-color: white;
    color: #333;
    font-size: 1em;
    text-align: center;
    text-decoration: none;    
    width: 100%;
}


.nav li a:hover{
    background-color: white;
    color: seagreen;
    width: 100%;
}



currentLink{
    background-color: white;
    color: darkgray;
    font-size: 1em;
    text-align: center;
    text-decoration: none;    
    width: 100%;
}

#currentLink:hover{
    background-color: white;
    color: darkgray;
    font-size: 1em;
    text-align: center;
    text-decoration: none;    
    width: 100%;
}


#headerImageWrapper{
    overflow: hidden;
}

#backgroundImage{
    height: auto;
    width: 100%;
}

#pageTitleRow h3{
    border-bottom: 1px #999999 solid;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
    padding-top: 2em;
    text-align: center;
}


.workItem{
    border-top: 1px #999999 solid;
    border-bottom: 1px #999999 solid;
    margin-bottom: 5em;
}


.workItem img{
    height: auto;
    width: 100%;   
}

.workItem h4{
    padding-top: 1em;
}

.workItem p{
    padding-bottom: 1em;
}


.leftCol{
    padding-right: 0;
    padding-left: 0;
}


.rightCol{
    padding-left: 0;
    padding-bottom: 0;
}

#prevWork01_col{
    padding-left: 0;
}

#prevWork02_col{
    padding-right: 0;
}


#prevWork01_textContainer{
    padding-left: 8%;
    padding-right: 2%;
}


#prevWork02_textContainer{
    padding-left: 5%;
    padding-right: 8%;
}


#prevWork03_textContainer{
    padding-left: 8%;
    padding-right: 2%;
}